.header-img {
  width: 100%;
}
.gigapet {
  margin: 6% 0 2% 0%;
  background: red;
}
.gigapet .logo {
  text-decoration: none;
  font-family: 'Bangers', cursive;
  font-size: 5rem;
  margin-left: 15%;
}
.gigapet .logo a:visited {
  text-decoration: none;
  color: red;
}
.gigapet .signup {
  float: right;
  background: #A8F189;
  color: black;
  font-size: 1.6rem;
  margin: 0 0.5% 0 2%;
  width: 6%;
  padding: 0.4% 0.3%;
  border-radius: 10%;
}
.gigapet .login {
  float: right;
  background: #D97A7D;
  font-size: 1.6rem;
  margin: 0 25% 0 0%;
  width: 6%;
  padding: 0.4% 0.3%;
  border-radius: 10%;
}
@media (max-width: 900px) {
  .gigapet {
    margin-left: -5%;
  }
  .gigapet .signup {
    width: 12%;
    margin: 2% 2% 0% 0%;
  }
  .gigapet .login {
    margin: 2% 2% 0% 0%;
    width: 12%;
  }
}
@media (max-width: 500px) {
  .gigapet .logo {
    width: 20%;
    margin-left: 5%;
    font-size: 3.2rem;
  }
  .gigapet .signup {
    padding: 1% 2%;
    font-size: 1.3rem;
    float: right;
    width: 15%;
    margin: 0 2% ;
  }
  .gigapet .login {
    padding: 1% 2%;
    font-size: 1.3rem;
    float: right;
    width: 15%;
    margin: 0;
  }
}
#nav {
  flex-wrap: wrap;
  text-decoration: none;
  width: 100%;
  margin: 2% 0 2% 16%;
}
@media (max-width: 900px) {
  #nav {
    margin: 2% 0 2% 9%;
  }
}
@media (max-width: 500px) {
  #nav {
    margin: 2% ;
  }
}
#nav nav {
  display: flex;
  flex-direction: row;
  justify-content: space-round;
  text-decoration: none;
  width: 100%;
  text-align: center;
}
#nav nav a {
  text-decoration: none;
  color: #FFF;
  background: #313A44;
  font-size: 1.9rem;
  border-left: 1px #FFF solid;
  padding: 1% 5%;
}
@media (max-width: 500px) {
  #nav nav a {
    padding: 0.2% 2%;
  }
}
#nav nav .home {
  border-left: none;
  background: #CBCC49;
}
#nav nav .search {
  width: 20%;
  height: auto;
  margin-left: 2%;
  font-size: 2rem;
}
