.white-button {
  padding: 1%;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-size: 62.5%;
  background: red;
}
.text {
  display: block;
  font-size: 3rem;
  text-align: center;
}
.text h2 {
  padding-left: 50%;
}
.header-img {
  width: 100%;
}
.gigapet {
  margin: 1% 0 1% 15%;
}
.gigapet .use {
  float: right;
  font-size: 2rem;
}
.gigapet .use .login {
  text-decoration: none;
  color: red;
  font-size: 4rem;
}
.gigapet .use .signup {
  text-decoration: none;
  background: red;
}
#logo {
  text-decoration: none;
  color: black;
  font-family: 'Bangers', cursive;
}
.signup {
  background: #F000;
  float: right;
  width: 40%;
}
.signup a {
  text-decoration: none;
  font-size: 2rem;
  padding: 0 2%;
}
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-decoration: none;
  width: 100%;
}
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-round;
  text-decoration: none;
  width: 70%;
  padding: 1% 3%;
}
nav a {
  text-decoration: none;
  color: #FFF;
  background: #313A44;
  font-size: 1.9rem;
  border-left: 1px #FFF solid;
  padding: 1% 2%;
}
nav .home {
  border-left: none;
}
nav .search {
  width: 20%;
  margin-left: 5%;
  font-size: 1.6rem;
}
footer {
  background: red;
  padding-left: 10%;
  margin-left: 10%;
  height: 10px;
  font-size: 1rem;
}
