footer{
  background:  red;
  padding-left:10%;
  margin-left:10%;
  // width:80%;
  font-size: 1rem;
  height: 10px;
  font-size: 1rem;
}



  // @media (max-with:800px)) {
  //   background: red;
  // }