footer{
  background: red ;
  padding-left:10%;
  margin-left:10%;
  width:80%;
  height: 35px;
  font-size: 2rem;
  padding: 2.2% 35% ;
}



  // @media (max-with:800px)) {
  //   background: red;
  // }