.header-img{
  width: 100%;
  // padding: 0 0 2% 10%;
}



.gigapet {
  margin: 1% 0 1% 15%;

  .use  {
      float: right;
      font-size: 2rem; 

    .login{
      text-decoration: none;
      color: red;
      font-size: 4rem;
      float: right;
    }
    
    .signup {
      text-decoration: none;
      background: red;
    }
    } //closes .user

} //closes .gigapet

#logo {
  text-decoration: none;
  color: black;
  font-family: 'Bangers', cursive;

}




.nav {
  .center();
  flex-wrap: wrap;
  text-decoration: none;
  width: 100%;

}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-round;
  text-decoration: none;  
  width: 70%;
    padding: 1% 3%;

 a{
  text-decoration: none;
  color: #FFF;
  background: #313A44;
  font-size: 1.9rem;
  border-left: 1px #FFF solid;
  padding: 1% 2%;

} //closes a

.home{
  border-left: none;

} // closes home

.search {
  width: 20%;
  margin-left: 5%;
  font-size: 1.6rem;

} //closes search

} // closes nav 



